@{
    ViewBag.HideNavbar = true;
}

<input type="hidden" value="@ViewBag.ColorId" id="color-id" />

<div class="traffic-light-wrapper d-flex justify-content-center align-items-center my-5">
    <h1 id="func-title">Color Detector</h1>
    <div id="connector-container">
        <div id="rose-color">
            <div class="paint-splash">.</div>

            <div style="width: 2px; height: 200px; background-color: #1f5227; border-radius: 0.5em; margin:5px auto;"></div>
        </div>

        <div style="width: 2px; height: 200px; background-color: #2c2e2c; margin:5px auto;"></div>

        <div id="traffic-light-desc">edfhefevfgsdevfghsvdfgsvdvsdcvsgdh df whge fghwefhwe fwghfsgh dfh sahgsfd gfd fsgffdhg fsgd fsgdf hfsdghffs gfsehg g f sdf gsdfhg fsdg f</div>
    </div>
</div>
