@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
<head>
    <link rel="stylesheet" href="~/css/color.css" />
    <script src="~/js/color.js"></script>
</head>
<input type="hidden" value="@ViewBag.ColorId" id="color-id"/>
<div class="paint-splash">.</div>