@{
    ViewBag.HideNavbar = true;
}

<input type="hidden" value="@ViewBag.ColorId" id="color-id" />

<div class="traffic-light-wrapper d-flex justify-content-center align-items-center my-5">
    <h1 id="func-title">Color Detector</h1>
    <div id="connector-container">
        <div id="rose-color">
            <div class="paint-splash">.</div>

            <div style="width: 2px; height: 200px; background-color: #1f5227; border-radius: 0.5em; margin:5px auto;"></div>
        </div>

        <div style="width: 2px; height: 200px; background-color: #2c2e2c; margin:5px auto;"></div>

        <div id="traffic-light-desc">
            What if red wasn’t just a word—what if you could feel it?
            Our smart glasses decode the colors of your world, turning guesswork into certainty for the <strong>300 million</strong> living with color blindness.
            From ripe fruit to glowing signs, fashion choices to warning lights—colors finally speak your language.
        </div>
    </div>
</div>
