﻿@using ClarifEye.Web.Models;
@model TextResultViewModel

@{
    ViewData["Title"] = "Text Detector";
}
<script src="~/js/text.js"></script>
<input type="hidden" id="text" value="@Model.Text"/>

<span class="speaker-icon">🔊</span>
<audio id="ttsPlayer" hidden></audio>

<style>
    .speaker-icon {
        position:absolute;
        top: 500px;
        cursor: pointer;
        font-size: 32px;
    }
</style>