.paint-splash {
    width: 200px;
    height: 200px;
    clip-path: polygon(
    60% 0%, 70% 8%, 85% 5%, 95% 20%, 88% 38%, 
    100% 50%, 92% 66%, 78% 82%, 60% 95%, 
    48% 100%, 35% 95%, 25% 90%, 15% 80%, 
    5% 65%, 10% 45%, 0% 30%, 10% 15%, 
    28% 10%, 40% 5%
  );
    box-shadow: 0 0 20px rgba(255, 60, 60, 0.6);
    animation: splashPulse 1.5s infinite ease-in-out;
    margin: 50px auto;
}

@keyframes splashPulse {
    0%, 100% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.05);
    }
}
