#survey-container {
    width: 1450px;
    background-color: #95dec2;
    height: 2200px;
    padding: 3em;
    display: flex;
    justify-content: center
}

#inner-survey-container {
    background-color: white;
    width: 550px;
    padding: 1em;
    border-radius: 15px;
}

#scale-answers {
    width: 900px;
    display: flex;
    gap: 2em;
    margin-bottom: 2em;
}

#answer-radio {
    display: flex;
    gap: 0.5em;
}

#survey-question {
    font-weight: 700;
}

#y-n-answers {
    width: 900px;
    display: flex;
    gap: 2em;
    margin-bottom: 2em;
}

#submit-survey {
    width: 260px;
    height: 50px;
    border: 1px solid black;
    background-color: #393d3c;
    color: white;
    font-weight: 700;
    border-radius: 10px
}

#submit-survey:hover {
    width: 260px;
    height: 50px;
    border: 1px solid black;
    background-color: #1c1f1e;
    color: white;
    border-radius: 10px
}

#sumbit-container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
