@model SceneryResultViewModel

@{
    ViewBag.HideNavbar = true;
}

<div class="traffic-light-wrapper d-flex justify-content-center align-items-center my-5">
    <h1 id="func-title">Scenery Synthesizer</h1>
    <div id="connector-container">
        <span class="speaker-icon">🔊</span>
        <audio id="ttsPlayer" hidden></audio>

        <input type="hidden" id="text" value="@Model.Result" />

        <textarea readonly id="scrollable-textarea-scenery-sint">@Model.Result</textarea>

        <div style="width: 2px; height: 200px; background-color: #1c1f1d; margin: 10px auto;"></div>

        <div id="traffic-light-desc">edfhefevfgsdevfghsvdfgsvdvsdcvsgdh df whge fghwefhwe fwghfsgh dfh sahgsfd gfd fsgffdhg fsgd fsgdf hfsdghffs gfsehg g f sdf gsdfhg fsdg f</div>
    </div>

</div>