@model SceneryResultViewModel

@{
    ViewBag.HideNavbar = true;
}

<div class="traffic-light-wrapper d-flex justify-content-center align-items-center my-5">
    <h1 id="func-title">Scenery Synthesizer</h1>
    <div id="connector-container">
        <span class="speaker-icon">🔊</span>
        <audio id="ttsPlayer" hidden></audio>

        <input type="hidden" id="text" value="@Model.Result" />

        <textarea readonly id="scrollable-textarea-scenery-sint">@Model.Result</textarea>

        <div style="width: 2px; height: 200px; background-color: #1c1f1d; margin: 10px auto;"></div>

        <div id="traffic-light-desc">
            Sight is more than images—it's emotion, rhythm, presence.
            Our glasses translate the world into poetry, weaving colors, movement, and light into lyrical descriptions.
            A sunset becomes warmth whispered across your cheek. A crowded street becomes the heartbeat of a city.
            For those who’ve lost their sight—or never had it—this is not just description. It’s a reminder that beauty isn’t just seen. It’s felt.
        </div>
    </div>

</div>